.footerContainer {
    background: #f03592 ;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2%;
    
 }
 
 .footerContent {
     color: #0c0b0b;
     font-size: 1rem ;
 }
 