
.galeriaContainer{
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #50033d;
 }  
  

@media (max-width: 767px) {
    .galeriaContainer {
        padding: 5rem; 
        width: 50vh;
    }
}
