.homeContainer{
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 20rem;
  padding: 5rem;
  
}
h2{
  color: #570242d5;
  
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Responsividade para smartphones e tablets */
@media (max-width: 767px) {
  .homeContainer {
      gap: 2rem; /* Espaçamento menor para dispositivos menores */
      padding: 2rem; /* Padding menor para dispositivos menores */
  }

  h2 {
      font-size: 1.5rem; /* Tamanho de fonte menor para dispositivos menores */
  }

  .icon {
      font-size: 1rem; /* Tamanho de fonte menor para dispositivos menores */
  }
}