.homeContainer{
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 20rem;
  padding: 5rem;
  
}
h2{
  color: #570242d5;
  
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}